.App {
  text-align: center;
}

a, .books-nav, .genre-select {
  display: inline-block;
  padding: 0 10px;
  margin: 0 auto;
}

.nav-vertical-divider {
  border-right: 2px solid black;
}

.books-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.book-card {
  border: 2px solid gray;
  margin: 20px;
}